<footer class="row">
  <div class="col-sm-12 col-md-6">
    <div class="footer-left">
      <div class="txt">
        <a href="http://www.puc-rio.br">
          <img alt="PUC" src="{{ site.baseurl }}/assets/img/logos_rodape_nova.png" style="width: 350px; height: 110px;">
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="footer-right">
      <div class="txt">
        <a href="https://www.linkedin.com/company/data-zoom/" target="_blank"> <img alt="Finep" src="{{ site.baseurl }}/assets/img/linkedin.png" style="width: 60px; height: 60px;"> </a>
                <a href="https://www.youtube.com/channel/UC1kYkpfiYSvL2-oTYPMMkug" target="_blank"> <img src="{{ site.baseurl }}/assets/img/Youtube.png" style="width: 60px; height: 60px;"> </a>
      </div>
    </div>
  </div>
</footer>
