<footer class="row align-items-center">
  <!-- Coluna esquerda: logos -->
  <div class="col-sm-12 col-md-6 d-flex align-items-center">
    <div class="footer-left w-100">
      <div class="txt">
        <a href="http://www.puc-rio.br">
          <img 
            loading="lazy" 
            decoding="async" 
            width="768" 
            height="193" 
            src="{{ site.baseurl }}/assets/img/logos_rodape_nova.png" 
            alt="Data Zoom Amazônia, Amazônia 2030 e PUC-Rio" 
            style="max-width: 100%; height: auto;">
        </a>
      </div>
    </div>
  </div>

  <!-- Coluna direita: ícones sociais -->
  <div class="col-sm-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-end">
    <div class="footer-right">
      <div class="txt d-flex" style="gap:16px;">
        <a href="https://www.linkedin.com/company/data-zoom/" target="_blank">
          <img 
            alt="LinkedIn" 
            src="{{ site.baseurl }}/assets/img/linkedin.png" 
            style="width: 60px; height: 60px;">
        </a>
        <a href="https://www.youtube.com/channel/UC1kYkpfiYSvL2-oTYPMMkug" target="_blank">
          <img 
            alt="YouTube" 
            src="{{ site.baseurl }}/assets/img/Youtube.png" 
            style="width: 60px; height: 60px;">
        </a>
      </div>
    </div>
  </div>
</footer>
